<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

  <array>
    <integer>7</integer>
    <integer>38300</integer>
    <string>Bore &amp; Ratter Weapon Rotator</string>
    <string>EQ_LB_WEAPON_ROTATOR</string>
    <string>This is famus Bore &amp; Ratter weapon rottator. It weapon clockweise or anticlockweise circles through your front, afft, coreboard and pord weapon mounds. You nedd in combat situation without it. It helps perfactly to stitch betwen your lasers, do ring mining and fighting coombat.</string>
    <dict>
      <key>available_to_all</key>     <true/>
      <key>script</key>               <string>WeaponRotator-LowBudgetEquipment.js</string>
      <key>damage_probability</key>   <real>3.0</real>
    </dict>
  </array>

  <array>
    <integer>11</integer>
    <integer>92500</integer>
    <string>Bore &amp; Ratter Weapon Rotator</string>
    <string>EQ_HQ_WEAPON_ROTATOR</string>
    <string>The Bore &amp; Ratter weapon rotator circles your weapons clockwise or anticlockwise through your front, aft, storeboard and port weapon mounts. This high precision equipment will help you in combat situations, during mining or in all other situations. It ensures that you will always have the weapon of your choice up front.</string>
    <dict>
      <key>available_to_all</key>     <true/>
      <key>script</key>               <string>WeaponRotator-HighQualityEquipment.js</string>
      <key>damage_probability</key>   <real>0.75</real>
    </dict>
  </array>

  <array>
    <integer>11</integer>
    <integer>28900</integer>
    <string>Emergency autorotator</string>
    <string>EQ_AUTOMATIC_WEAPON_ROTATOR</string>
    <string>This device plugs into your status system and your "Bore &amp; Ratter" weapon rotator. In case of a hostile alert condition, it rotates your weapons automatically to a previously stored combat position.</string>
    <dict>
      <key>available_to_all</key>         <true/>
      <key>script</key>                   <string>WeaponRotator-AutoRotatorEquipment.js</string>
      <key>damage_probability</key>       <real>1.0</real>
      <key>requires_any_equipment</key>   <array>
                                            <string>EQ_LB_WEAPON_ROTATOR</string>
                                            <string>EQ_HQ_WEAPON_ROTATOR</string>
                                          </array>
    </dict>
  </array>

<!--
  <array>
    <integer>11</integer>
    <integer>100</integer>
    <string>Weapon Rotator Shielding</string>
    <string>EQ_SHIELD_WEAPON_ROTATOR</string>
    <string>This additional shield system protects your "Bore &amp; Ratter" weapon rotator from laser fire.</string>
    <dict>
      <key>available_to_all</key>     <true/>
      <key>script</key>               <string>WeaponRotator-RotatorShieldEquipment.js</string>
      <key>damage_probability</key>   <real>0.25</real>
    </dict>
  </array>
-->

</array>
</plist>
